<ul class="nav nav-tabs nav-justified nav-custom" id="bus-line-info">
  <li class="active">
    <a data-toggle="tab" href="#direction-detail">
      <i class="fa fa-bus" aria-hidden="true"></i>
      Chi tiet cach di
    </a>
  </li>
  <li>
    <a data-toggle="tab" href="#bus-station-over">
      <i class="fa fa-info-circle"></i>
      Cac tram di qua  
    </a>
  </li>
</ul>

<div class="tab-content">
  <div id="direction-detail" class="tab-pane fade in active">
    <p>ccc</p>
  </div>
  <div id="bus-station-over" class="tab-pane fade">
    <p>llll</p>
  </div>
</div>
