<div class="header row">
  <%= link_to root_path, class: "back-root" do %>
    <i class="fa fa-caret-left"></i>
  <% end %>
  <h3 class="bus-line-name"><%= @bus_line.name %></h3>
  <a href="#" class="btn btn-primary select-route">Luot Di</a>
</div>
