<div class="header row">
  <%= link_to root_path, class: "back-root" do %>
    <i class="fa fa-caret-left"></i>
  <% end %>
  <h3 class="bus-line-name"><%= @bus_line.name %></h3>
  <div id="select-route" style="display: inline-block;">
    <%= link_to "VV", show_bus_line_path(@bus_line, bus_type: 0), remote: true,
      class: "btn btn-primary select-route" %>
  </div>
</div>
