<div id="mySidenav" class="sidenav">
  <ul class="nav nav-tabs nav-justified">
    <li class="active">
      <a data-toggle="tab" href="#list-route">
        <i class="fa fa-search"></i>
        Tra Cuu
      </a>
    </li>
    <li>
      <a data-toggle="tab" href="#search-bus">
        <i class="fa fa-map-marker"></i>
        Tim Duong  
      </a>
    </li>
  </ul>

  <div class="tab-content">
    <div id="list-route" class="tab-pane fade in active">
      <div class="search-route">
        <input type="text" class="form-control">
      </div>
      <div class="list-group">
        <% @bus_routes.each do |route| %>
          <%= link_to show_bus_route_path(route.id),
            remote: true, class: "list-group-item" do %>
            <h4 class="list-group-item-heading"><%= route.name %></h4>
            <p class="list-group-item-text">...</p>
          <% end %>
        <% end %>
      </div>
    </div>
    <div id="search-bus" class="tab-pane fade">
      <div class="search-route">
        <input type="text" class="form-control" placeholder="Start" id="start-point-txt">
        <input type="text" class="form-control" placeholder="Finish" style="margin-top: 10px" id="end-point-txt">
      </div>
      <div class="search-route">
        <a href="#" class="btn btn-success" id="search-bus-btn">Search</a>
      </div>
      <div id="div-result-search" style="background-color: white">
        <p></p>
      </div>
    </div>
  </div>
</div>
  
<div id="home-map" style="margin-top: 50px;">My map will go here</div>

<script>
  window.onload = initialise();
</script>

<style>
  /*  start styles for the ContextMenu  */
.context_menu{
  background-color:white;
  border:1px solid gray;
}
.context_menu_item{
  padding:3px 6px;
}
.context_menu_item:hover{
  background-color:#CCCCCC;
}
.context_menu_separator{
  background-color:gray;
  height:1px;
  margin:0;
  padding:0;
}
</style>
