<div id="mySidenav" class="sidenav">
  <ul class="nav nav-tabs nav-justified nav-custom">
    <li class="active">
      <a data-toggle="tab" href="#list-route">
        <i class="fa fa-search"></i>
        Tra Cuu
      </a>
    </li>
    <li>
      <a data-toggle="tab" href="#search-bus">
        <i class="fa fa-map-marker"></i>
        Tim Duong  
      </a>
    </li>
  </ul>

  <div class="tab-content">
    <div id="list-route" class="tab-pane fade in active">
      <div class="search-route" id="header">
        <input type="text" class="form-control">
      </div>
      <div class="list-group">
        <% @bus_lines.each do |line| %>
          <%= link_to show_bus_line_path(line),
            remote: true, class: "list-group-item" do %>
            <h4 class="list-group-item-heading"><%= line.name %></h4>
            <p class="list-group-item-text">...</p>
          <% end %>
        <% end %>
      </div>
    </div>
    <div id="search-bus" class="tab-pane fade">
      <div class="search-route">
        <input type="text" class="form-control" bus_stationholder="Start" id="start-point-txt">
        <input type="text" class="form-control" bus_stationholder="Finish" style="margin-top: 10px" id="end-point-txt">
      </div>
      <div class="search-route">
        <a href="#" class="btn btn-success" id="search-bus-btn">Search</a>
      </div>
      <div id="div-result-search" style="background-color: white">
        <p></p>
      </div>
    </div>
  </div>
</div>
  
<div id="home-map" style="margin-top: 50px;">My map will go here</div>

<script>
  window.onload = initialise();
</script>
