/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require dataTables/src/demo_table_jui
 *= require jquery-ui/core
 *= require jquery-ui/theme
 *= require_tree .
 *= require_self
 */

@import "font-awesome";

.paddingbottom {
  padding-bottom: 10px;
}

.paddingtop {
  padding-top: 10px;
}

.margin-button-login {
  margin: 10px;
}

.table-editable {
  position: relative;
  
  .glyphicon {
    font-size: 20px;
  }
}

.table-remove {
  color: #700;
  cursor: pointer;
  
  &:hover {
    color: #f00;
  }
}

.table-up, .table-down {
  color: #007;
  cursor: pointer;
  
  &:hover {
    color: #00f;
  }
}

.table-add {
  color: #070;
  cursor: pointer;
  position: absolute;
  top: 8px;
  right: 0;
  
  &:hover {
    color: #0b0;
  }
}

/* The side navigation menu */
.sidenav {
  height: 100%; /* 100% Full-height */
  width: 400px; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in bus_station */
  z-index: 1; /* Stay on top */
  top: 0;
  left: 0;
  background-color: #fff; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 50px; /* BusStation content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover, .offcanvas a:focus{
  /*color: #f1f1f1;*/
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
/*@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}*/

#home-map {
  width:100%;
  height:100%;
  position: absolute;
  top: 0px;
  left: 0px;
  margin-left: 400px;
  margin-top: 50px;
}

.search-route {
  padding: 10px 10px;
  background-color: #109D59;
  a, h3 {
    color: white;
  }
}

/*  start styles for the ContextMenu  */
.context_menu{
  background-color:white;
  border:1px solid gray;
}

.context_menu_item{
  padding:3px 6px;
}

.context_menu_item :hover{
  background-color: #CCCCCC;
}

.context_menu_separator{
  background-color:gray;
  height:1px;
  margin:0;
  padding:0;
}

.back-root {
  display: inline-block !important;
}

.bus-line-name {
  color: white;
  display: inline-block;
  width: 250px;
}

.select-route {
  display: inline-block !important;
  font-size: 20px !important;
  padding: 1px 5px !important;
  margin-bottom: 10px;
}

/*** PANEL SUCCESS ***/
.nav-tabs.nav-custom > li > a,
.nav-tabs.nav-custom > li > a:hover,
.nav-tabs.nav-custom > li > a:focus {
  color: #fff;
  background-color: #34B67A;
}
.nav-tabs.nav-custom > .open > a,
.nav-tabs.nav-custom > .open > a:hover,
.nav-tabs.nav-custom > .open > a:focus,
.nav-tabs.nav-custom > li > a:hover,
.nav-tabs.nav-custom > li > a:focus {
  color: #fff;
  background-color: #109D59;
  border-color: transparent;
}
.nav-tabs.nav-custom > li.active > a,
.nav-tabs.nav-custom > li.active > a:hover,
.nav-tabs.nav-custom > li.active > a:focus {
  color: #fff;
  background-color: #109D59;
  border-color: #109D59;
  border-bottom-color: transparent;
}
.nav-tabs.nav-custom > li.dropdown .dropdown-menu {
    background-color: #dff0d8;
    border-color: #109D59;
}
.nav-tabs.nav-custom > li.dropdown .dropdown-menu > li > a {
    color: #3c763d;   
}
.nav-tabs.nav-custom > li.dropdown .dropdown-menu > li > a:hover,
.nav-tabs.nav-custom > li.dropdown .dropdown-menu > li > a:focus {
    background-color: #d6e9c6;
}
.nav-tabs.nav-custom > li.dropdown .dropdown-menu > .active > a,
.nav-tabs.nav-custom > li.dropdown .dropdown-menu > .active > a:hover,
.nav-tabs.nav-custom > li.dropdown .dropdown-menu > .active > a:focus {
    color: #fff;
    background-color: #3c763d;
}

#bus-line-info > li > a {
  padding: 0px;
  font-size: 20px;
}

.padding-tab {
  padding: 15px 25px;
}

._jw-tpk-container ol > li > a {
  font-size: 15px !important;
}

._jw-tpk-container {
  font-size: 1.5rem;
}

.nav-user {
  background-color: #34B67A;
  color: white;
  border: none;
}

.title-header {
  font-size: 25px;
  
  a {
    color: white
  }
  a:hover {
    text-decoration: none;
  }
}

/* Center the loader */
#loader {
  position: fixed;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
