<% bus_stations.each_with_index do |bus_station, index| %>
  <tr class="search-user-image">
    <td>
      <%= check_box_tag "bus_stations[]", bus_station.id, false, 
        id: "user-add-#{bus_station.id}", class: "user-add",
        onclick: "check_user(this)" %>
      <strong><%= bus_station.name %></strong>
    </td>
  </tr>
<% end %>
