<nav class="navbar navbar-inverse navbar-fixed-top nav-user" role="navigation">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <div class="text-center title-header">
        <%= link_to root_path do %>
          <img src="http://startupfair.vn/images/Logo_Danang.PNG" alt="logo" style="width: 4%">
          <b>He thong chi duong xe buyt tai thanh pho Da Nang</b>
        <% end %>
        <%= link_to "Dang nhap", new_user_session_path,
          class: "btn btn-primary pull-right margin-button-login"%>
      </div>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
    </div>
</nav>
